[Unit]
Description=Mac fan controller

[Service]
Type=forking 
ExecStart=/bin/mfcd
ExecReload=/usr/bin/killall mfcd;/bin/mfcd
ExecStop=/usr/bin/killall mfcd
Restart=always
[Install]
WantedBy=multi-user.target

